<% include header.ejs %>

    <div class="container">
        <div class="card mt-5 text-light bg-dark shadow-lg">
            <div class="card-header">
                <h2 class="card-title">DATOS DEL CIUDADANO</h2>
            </div>
            <div class="card text-primary shadow-lg">

                <div class="card-body">
                    <!--<div class="card-title col-md-6 col-lg-6">
                        <h3>Registrarse</h3>
                    </div>-->
                    <div class="formReg col-md-6 col-lg-6">
                        <form action="/users" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="text" name="dni" placeholder="Documento" required>
                                <input class="form-control" type="text" name="name" placeholder="Nombre" required>
                                <input class="form-control" type="text" name="lastname" placeholder="Apellido" required>
                                <select class="form-control" name="sex">
                                    <option value = "1" > Hombre </option>
                                    <option value = "2" > Mujer </option>
                                </select>
                                <!--<input class="form-control" type="text" name="sex" placeholder="Sexo" required>-->
                            </div>
                            <div class="btnReg">
                                <a class="btn btn-secondary btn-lg" href="/" style="margin-top: 2%">Volver</a>
                                <input class="btn btn-primary btn-lg" style="margin-top: 2%" type="submit" value="Consultar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include footer.ejs %>