<% include header.ejs %>

    <body class="text-center">
        <form class="form-singin">
            <div class="card mt-5 text-light bg-dark shadow-lg">
                <div class="card-header">
                    <h2 class="card-title">Elecciones 2019</h2>
                </div>
                <div class="card text-primary shadow-lg">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Estadisticas</h3>
                        </div>
                        <div class="card-title" style="width:50%;height:50%;">
                            <canvas id="myChart" style=" width:50%;height:50%; position: center;"></canvas>
                            <span id="datos" style="display: none;"><%-locals.candidatos %></span>
                            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                            <script>
                                var candidatos = document.getElementById('datos');
                                var vjson = JSON.parse(candidatos.innerHTML);
                                console.log('vjson: ', vjson);

                                var vlabels = [];

                                var vdata = [];

                                vjson.forEach(element => {
                                    vlabels.push(element.nombre + ' ' + element.apellido);
                                    vdata.push(element.cantVotos);
                                });

                                var ctx = document.getElementById('myChart').getContext('2d');
                                var myChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: vlabels,
                                        datasets: [{
                                            label: 'Votos',
                                            data: vdata,
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(255, 159, 64, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(255, 99, 132, 1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(255, 159, 64, 1)'
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });
                            </script>
                        </div>
                        <a class="btn btn-success btn-lg" href="/" role="button">VOLVER</a>
                    </div>
                </div>
            </div>
        </form>

    </body>